.wrapper{
    position: relative;
}
.box-shadow{
    position: absolute;
    width: 500px;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(185, 184, 184, 0.3);
}
.new-email{
    padding-top: 20px;
    font-size: 13px;
    color: var(--background-color);
    font-weight: 600;
}
.new-email:hover,
.to-register:hover{
    text-decoration: underline;
    cursor: pointer;
}
.to-register{
    padding-left: 10px;
    text-decoration: none;
    font-size: 13px;
    color: var(--background-color);
    font-weight: 600;
}
.question-register{
    display: flex;
    align-items: center;
    padding-top: 15px;
    & p{
        font-size: 12px;
    }    
}
.wrapper-btn{
    text-align: end;
    margin-top : 20px;
    & button{
        padding: 9px 15px;
        background-color: var(--background-color);
        border-color: var(--background-color);
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
    }
    & button:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}