
.wrapper{
    width: 500px;
    .wrapper-logo{
        margin-top: 20px;
        color: #1b1b1b;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .wrapper-input-phone,
    .wrapper-select_country,
    .wrapper-input-email{
        border-width: 1px;
        border-color: #666;
        border-color: rgba(0,0,0,0.6);
        height: 36px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-top: 15px;
        outline: none;
    }
    
    .wrapper-input-phone{
        padding: 6px 10px;
        width: 75%;
    }
    .wrapper-input-email{
        width: 100%;
        padding: 6px 10px;
    }
    .selected{
        border-bottom: 1px solid #e81123;
    }
    .change-phone,
    .changeTo-phone:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .changeTo-phone{
        padding-top: 20px;
        text-decoration: none;
        font-size: 13px;
        color: var(--background-color);
        font-weight: 600;
    }
    .wrapper-error{
        color: #e81123;
        margin-top: 10px;
        font-size: 14px;
    }
}
/* Styles applied on trigger */
.wrapper-content{
    padding: 40px;
    -webkit-animation-name: faDaIn;
    animation-name: faDaIn;
    -webkit-animation-duration: .28s;
    animation-duration: .28s;
    -webkit-animation-timing-function: cubic-bezier(.8,0,.2,1);
    animation-timing-function: cubic-bezier(.8,0,.2,1);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: .04s;
    animation-delay: .04s;
} 
@keyframes faDaIn {
    0% {
        opacity: 0;
        -webkit-transform: translate(80px);
        -ms-transform: translate(80px);
        transform: translate(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
}