@import 'normalize.css';
@import 'react-big-calendar/lib/sass/styles';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
// @font-face {
//     font-family: "FontName"; 
//     font-style: normal; 
//     font-weight: normal;
//     src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
// }
:root { 
    --background-color : #76417e;
    --primary-color : #4d648d;
    --color-white : #fff;
    --color-black : black;
    --var-font-family: 'Montserrat', sans-serif;
    --var-font-weight : 600;
    --var-border-radius :5px;
    --background-primary: #fff;
    --font-color-primary: #292827;
    --bg-secondary: #faf9f8;
    --font-color-secondary: #605e5c;
    --toastify-icon-color-info :#76417e !important;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dfdede;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    height: 100%;
    //overflow: hidden;
}

body {
    overflow: hidden;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: var(--var-font-family);
    background-color: var(--bg-secondary);
    height: 100%;
}
#root{
    height: 100%;
}
// CUS TOM TOAST IFY
.Toastify__toast-theme--light {
    background-color:  white;
    color: var(--font-color-primary);
    font-family: var(--var-font-family);
    font-size: 1.4rem;
}
.Toastify__progress-bar {
    background-color:  var(--background-color);
}
.Toastify__progress-bar--rtl {
    background-color:  var(--background-color);
}
/** colored notifications share the same progress bar color **/
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background-color:  var(--background-color);
}

// CSS React Calendar
.react-calendar{
    border: none !important;
    border-radius: var(--var-border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.react-calendar button,
.react-calendar__month-view__weekdays{
    font-family: var(--var-font-family);
}
.react-calendar__tile--active{
    font-weight: bold;
    font-family: var(--var-font-family);
    background: #e8bcef;
}
.react-calendar__month-view__days__day--weekend{
    color: var(--background-color) !important;
    font-weight: 600 !important;
}
// CSS React Big Calendar
.rbc-toolbar button{
    color: var(--color-white);
}
.react-calendar__navigation button {
    font-weight: 700 !important;
}
.rbc-toolbar button.rbc-active{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
        rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, 
        rgba(0, 0, 0, 0.17) 0px 12px 13px, 
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rbc-toolbar button:active:hover, 
.rbc-toolbar button:active:focus, 
.rbc-toolbar button.rbc-active:hover, 
.rbc-toolbar button.rbc-active:focus{
    background-color: var(--primary-color);
    color: var(--color-white);
    cursor: pointer;
}
.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus{
    background-color: var(--background-color);
    color: white !important;
}
.css-159cb62-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #76417e !important;
}
// CUSTOM CHART
.recharts-wrapper{
    width: 100% !important;
    padding: 10px 0;
}
.recharts-legend-item-text{
    color: var(--background-color) !important;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--var-font-family);
}
// CUSTOM LOADING PAGE
.css-18lrjg1-MuiCircularProgress-root{
    color: var(--background-color) !important;
    width: 30px !important;
    height: 30px !important;    
}