$color-white : #fff;
.wrapper{
    display: flex;
    &-todo{
        width: 100%;
    }
    &-todo-check{
        width: 68%;
    }
    &__loading{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 50%;
        & p {
            margin-right: 10px;
        }
    }
}
.header{
    padding: 10px 20px 0 20px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        &-left {
            & p{
                font-family: var(--var-font-family);
                margin-top: 10px;
            }
            &_list{
                display: flex;
                align-items: center;
                justify-content: space-around;
                &-li {
                    list-style: none;
                    &-title{
                        font-size: 2rem;
                        font-weight: 600;
                        color: var(--font-color-primary);
                        padding: 0 20px;
                    }
                    &-icon{
                        font-size: 20px;
                        color: #76417e;
                    }
                }
            }
        }
        &-right {
            &_control,
            &_list{
                list-style: none;
            }
            &_control{
                display: flex;
                align-items: center;
                justify-content: space-between;      
            }
            &_control li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 15px;
                font-size: 1.4rem;
            }
            &_control li:hover{
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
            }
            &_control li span{
                padding-left: 5px;
            }
        }
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-realTime{
            font-size: 1.2rem;
            color: var(--font-color-secondary);
            width: 40%;
        }
        // SORT FILTER
        &-sortFilter{
            display: flex;
            align-content: center;
            justify-content: flex-end;
            width: 60%;
            &-descriptions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
                & p{
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #323130;
                    padding-right: 15px;
                }
                &-removeSortFilter{
                    color: #797775;
                    background: none;
                    border: none;
                    font-size: 17px;
                    &-iconClose{
                        padding: 5px;
                        &:hover{
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
}
// Container
.container{
    &__taskCreation{
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 20px 20px 0 20px;
        &-addTask{
            width: 100%;
            border-bottom: 1px solid #ccc;
            &-addTaskBtn{
                width: 5%;
                background: none;
                border: none;
                font-size: 15px;
                color: var(--background-color);
                cursor: pointer;
            }
            &-addTaskInput{
                width: 95%;
                border: none;
                min-height: 52px;
                border-top-right-radius: 5px;
                transition: all 0.15s ease-in-out;
                &:focus{
                    outline: none;
                }
            }
        }     
        &-menuControl{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
            background-color: #faf9f8;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: height 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
            &_menuList{
                padding-left: 10px;
                & ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                & li{
                    list-style: none !important;
                    color: var(--font-color-secondary) !important;
                }
                & li:hover{
                    background-color: white !important;
                    border-radius: 4px !important;
                }
                &-btnMenuItemTaskCreation{
                    padding: 10px;
                    margin: 0 5px;
                    font-size: 15px;
                    border: none;
                    background: #faf9f8;
                    color: var(--font-color-secondary);
                    &:hover{
                        background-color: white;
                        cursor: pointer;
                    }
                }
                &-btnMenuItemTaskCreationCheck{
                    background-color: white;
                    border: 1px solid #ccc;
                    border-radius: var(--var-border-radius);
                    padding: 10px;
                    margin: 0 5px;
                    font-size:1.3rem;
                    color: var(--font-color-secondary);
                    &:hover{
                        background-color: white;
                        cursor: pointer;
                    }
                }
            }
            &-btnAddTask{
                margin-right: 10px;
                & button{
                    padding: 5px 10px;
                    background: white;
                    border: 1px solid;
                    border-radius: 3px;
                }
                & button:hover{
                    cursor: pointer;
                }
            }   
        }
    }   
}

$color-drawer-todo : #797775;
// DRAWER TODO
.drawer-todo{
    margin: 20px;
    &__content {
        &__title,
        &__addMyDay,
        &__addCategory,
        &__textarea{
            padding: 10px;
            border:1px solid #ececec;
            border-radius: var(--var-border-radius);
            background-color: $color-white;
            display: flex;
            align-items: center;
        }
        &__title{
            justify-content: space-around;
            &-circleCheckIcon{
                color: var(--background-color);
            }
            &-circleIcon{
                width: 15px;
                height: 15px;
                border: 1px solid var(--background-color);
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &:hover &-check::before{
                    display: block;
                    top: 7%;
                    right: 32%;
                    cursor: pointer;
                }
                &-check::before {
                    content: "✓";
                    color: var(--background-color);
                    font-size: 10px;
                    display: none;
                    position: absolute;
                    font-weight: 900;
                  }
            }
            &-text{
                width: 80%;
                border: none;
                font-size: 1.8rem;
                font-weight: 400;
                padding-left: 15px;
                &:focus{
                    outline: none;
                }
            }
            &-icon{
                font-size: 1.8rem;
                width: 10%;
                color: var(--background-color);
            }
        }
        &__addMyDay{
            margin-top: 10px;
            justify-content: space-between;
            &:hover{
                cursor: pointer;
                background-color: #e7e7e7;
            }
            &:hover &-iconRemove{
                width: 10%;
                display: block;
            }
            &:hover &-title{
                width: 80%;
            }
            &-icon{
                font-size: 1.8rem;
                width: 10%;
                color: var(--background-color);
            }
            &-iconRemove{
                display: none;
            }
            &-title{
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 20px;
                padding: 5px 10px;
                width: 90%;
                color: var(--background-color);
            }
        }
        &__menuTask{
            border-radius: var(--var-border-radius);
            background-color: #fff;
            margin-top: 10px;
            border: 1px solid #ececec;
            padding: 10px;
            &-notify,
            &-repeat,
            &-dueDate{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ccc ;
                height:40px;
                &:hover{
                    cursor: pointer;
                    background-color: #e7e7e7;
                    color: #323130;
                }
                &-icon{
                    width: 10%;
                }
                &-title{
                    padding: 5px 5px 5px 10px;
                    margin: 10px 0 10px 0;
                    width: 90%;
                    font-size: 1.3rem;
                }
            }
            &-notify {
                &-iconSelected{
                    width: 10%;
                    color: var(--background-color);
                }
                &-remind{
                    padding: 10px;
                    font-size: 1.3rem;
                    &-at{
                        font-size: 1.3rem;
                        color: var(--background-color);
                        font-weight: 600;
                    }
                    &-title{
                        font-size: 1.2rem;
                        margin-top: 5px;
                    }
                }
            }
            &-dueDate{
                padding: 10px 0;
                &-iconSelected{
                    width: 10%;
                    color: var(--background-color);
                }
                &-titleSelected{
                    padding-left: 10px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: var(--background-color);
                }
            }
            &-repeat{
                border: none;
                &-iconSelected{
                    width: 10%;
                    color: var(--background-color);
                }
                &-check{
                    padding: 10px;
                    &-title{
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: var(--background-color);
                    }
                    &__selected{
                        font-size: 1.2rem;
                        margin-top: 5px;
                        color:#000
                    }
                    &-days{
                        font-size: 1.2rem;
                        margin-top: 5px;
                    }
                }
            }
        }
        &__addCategory{
            margin-top: 10px;
            &:hover{
                cursor: pointer;
                background-color: #e7e7e7;
            }
            &-icon{
                width: 10%;
                color: var(--background-color);
            }
            &-list{
                 width: 90%;
                &-text{
                    padding: 5px  5px 10px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: var(--background-color);
                }
                &-CategoryList{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 5px; 
                    margin-left: 5px;
                    margin-bottom: 5px;
                    &-itemRed,
                    &-itemGreen,
                    &-itemOrange{ 
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        min-width: 120px;
                        font-size: 1.1rem;
                        font-weight: 500;
                        border: 1px solid;
                        &-icon{
                            padding: 5px;
                            &:hover{
                                color: black;
                            }
                        }
                        &-title{
                            padding: 5px;
                            width: 90%;
                        }
                    }
                    &-itemRed{
                        color: red;
                        background: rgb(255 0 0 / 5%);
                        &-title{ 
                            &:hover{
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                    &-itemGreen{
                        color: green;
                        background: rgba(0, 128, 0,5%);
                        &-title{
                            &:hover{
                                background-color: green;
                                color: white;
                            }
                        }
                    }
                    &-itemOrange{
                        color: orange;
                        background: rgba(255, 165, 0, 5%);
                        &-title{
                            &:hover{
                                background-color: orange;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        &__textarea{
            margin-top: 10px;
            &-text{
                width: 100%;
                font-size: 1.3rem;
                padding: 10px 0 0 10px;
                border: none;
                &:focus{

                    outline: none;
                }
            }
            
        }
    }
    &__footer{
        position: fixed;
        bottom: 10px;
        width: 350px;
        right: 0;
        &__content{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px;
            padding-top: 10px;
            font-size: 1.3rem;
            border-top: 1px solid #797775;
            color: #262626;
            &-icon{
                border: none;
            }
        }
    }
}
