.wrapper{
    display: flex;
    height: 60px;
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 20%);
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    .wrapper-logo{
        display: flex;
        align-items: center;
        width: 18%;
        padding-left: 20px;
    }
    .icon-notification{
        color: #d0e1f9;
        font-size: 20px;
        padding: 0 10px;
        margin: 0 30px;
    }
    .wrapper-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 82%;
        height: 100%;
    }
    .wrapper-controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper-controls_search{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-search{
        width: 730px;
        text-align: center;
        padding: 8px;
        margin-left: 20px;
        border-radius: var(--var-border-radius);
        border: none;
        background-color: #efefef;
        font-weight: var(--var-font-weight);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
        rgb(197 197 197 / 35%) 0px -2px 6px 0px inset;
    }
    .controls-region{
        display: flex;
        align-items: center;
        margin-right: 10px;
        height: 100%;
    }
    .menu_user{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .controls-menu_user{
        width: 40px;
        border-radius: 50%;
        height: 40px;
        
    }
    .controls-menu{
        align-items: center;
        display: flex;
        margin: 0 20px;
        height: 100%;
    }
    
    .selected{
        background-color: #494949;
    }
    .info-menu_user{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 100%;
        &:hover{
            cursor: pointer;
        }
    }
}  
