.content{
    width: 230px;
    .content-title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 10px;
        font-weight: 600;
    }
}
.menu-box,
.menuItem-Choose{
    padding: 10px 15px;
    font-size: 13px;
}
.menuItem-Choose_name,
.menu-box_name{
    padding-left: 10px;
    color: var(--font-color-primary);
}
.menu-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
        background-color: #f5f5f5;
        cursor: pointer;
    }
    
}
.menuItem-Choose{
    border-top: 1px solid #c8c8c8;
    &:hover{
        background-color: #f5f5f5;
        cursor: pointer;
    }
}