$color: #a4a9aa;
.wrapper{
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--background-primary);
    width: 250px;
    border-right: 1px solid #e2e2e2;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    
    direction: ltr;
    .wrapper-list{
        height: 250px;
    }
    .wrapper-favorites{
        padding: 22px;
        display: flex;
        align-items: center;
        color: var(--color-white);
        .icon-faCaretRight{
            color: var(--color-white);
            font-size: 20px;
            padding-left: 10px;
        }
    }
    .wrapper-project{
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper-project_btn{
            background: var(--color-white);
            padding: 10px 20px;
            font-weight: 700;
            border: 1px solid #e0dede;
            width: 100px;
            margin: 0 4px;
            border-radius: var(--var-border-radius);
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        }
    }
    .search-project{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        .create-project{
            margin-left: 10px;
            color: var(--color-white);
            border-radius: var(--var-border-radius);
            background-color: var(--primary-color);
        }
        .icon-faPlus{
            padding: 0 5px;
        }
    }
    .search-project input{
        padding: 10px;
        border: none;
        border-radius: var(--var-border-radius);
    }
    .search-project button{
        font-size: 30px;
        border: none;
        background-color: var(--color-white);
        color: #9c9c9c;
    }
    .project-ul{
        background-color: #76417e;
        margin: 3px;
        border-radius: var(--var-border-radius);
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, 
            rgb(0 0 0 / 12%) 0px -12px 30px, 
            rgb(0 0 0 / 12%) 0px 4px 6px, 
            rgb(0 0 0 / 17%) 0px 12px 13px, 
            rgb(0 0 0 / 9%) 0px -3px 5px;
    }
    .project-li_link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color-white);
        padding: 12px;
        font-size: 15px;
    }
    .project-li_subProject{
        display: flex;
        align-items: center;
        color: var(--color-white);
        justify-content: space-between;
        padding: 5px 20px;
        font-size: 13px;
    }
    // 
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
        color: #fff;
        font-size: 15px;
        font-weight: var(--var-font-weight);
    }
}

