.content{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    &__left,
    &__right{
        animation-name: faDaIn;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
        animation-fill-mode: backwards;
        animation-delay: 1s;
        &-img{
            height: 458px;
        }
    }
    &__center{
        margin: 0 70px;
        text-align: center;
        &-logo,
        &-title,
        &-des,
        &-starts{
            margin-bottom: 25px;
        }
        &-title{
            color: white;
            font-size: 25px;
        }
        &-des{
            color: white;
            font-size: 1.7rem;
        }
        &-starts{
            padding-bottom: 30px;
            padding-top: 20px;
            & button{
                padding: 10px 35px;
                border-radius: var(--var-border-radius);
                border: 1px solid rgb(250, 243, 243);
                background-color: white;
                font-size: 18px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
            & button:hover{
                cursor: pointer;
                background-color: #e8bcef;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                border-color: var(--background-color);
            }
            &-Link{
                text-decoration: none;
            }
            &-outMore{
                color: white;
                font-weight: 600;
                font-size: 1.3rem;
                padding-top: 10px;
            }
        }
        &-download{
            display: grid;
            justify-content: center;
            & ul {
                display: flex;
                align-items: center;
                list-style: none;
            }
            & li {
                padding: 5px 10px;
            }
            &-title{
                color: white;
                padding-bottom: 15px;
                font-weight: 500;    
            }
            &-icon{
                background-color: white;
                padding: 5px;
                border: 1px solid var(--background-color);
                border-radius: var(--var-border-radius);
                width: 40px;
            }
            &-icon_window{
                background-color: white;
                padding: 7px;
                border: 1px solid var(--background-color);
                border-radius: var(--var-border-radius);
                font-size: 25px;
                color: var(--background-color);
            }
        }
    }
}
@keyframes faDaIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}