.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    animation: slideFadeDown 250ms forwards;
    border-radius: var(--var-border-radius);
    &:hover{
        background-color: #f1f1f1;
        cursor: pointer;
    }
    &__todo-check,
    &__todo-priority{
        width: 5%;
        background: none;
        border: none;
        font-size: 15px;
        color: var(--background-color);
        cursor: pointer;   
        text-align: center; 
    }
    &__todo-content{
        width: 90%;    
        &-title{
            font-size: 1.4rem;
            color: #323130;
            padding-left: 12px;
            font-weight: 600;
        }   
        &-list{
            display: flex;
            align-items: center;
            &__menuItem-task,
            &__menuItem-deadline,
            &__menuItem-notify,
            &__menuItem-repeat,
            &__menuItem-priority{
                color: #323130;
                font-size: 1.2rem;
                margin: 10px 12px 0 12px;
                &-menuItem-icon{
                    padding-right: 5px;
                    font-size: 1.4rem;
                }
            }
            &__menuItem-task{
                list-style: none;
            }
            &__menuItem-deadline{
                color: #2564cf;
            }
            &__menuItem-repeat{
                color: var(--background-color);
            }
            &__menuItem-priority{
                list-style: none;
                &-red,
                &-green,
                &-orange{
                    display: flex;
                    align-items: center;
                    &_icon{
                        margin-right: 5px;
                    }
                }
                &-red{
                    color: red;
                    &_icon{
                        background: rgb(255 0 0 / 40%);
                        border-radius: 50%;
                        font-size: 0.9rem;
                        color: red;
                    }
                }
                &-orange{
                    color: orange;
                    &_icon{
                        background: rgb(255 165 0 / 40%);
                        border-radius: 50%;
                        font-size: 0.9rem;
                        color: orange;
                    }
                }
                &-green{
                    color: green;
                    &_icon{
                        background: rgb(72 196 72 / 40%);
                        border-radius: 50%;
                        font-size: 0.9rem;
                        color: green;
                    }
                }
            }
            
        }
    }
}
@keyframes slideFadeDown {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
