.wrapper{
    width: 100%;
    //max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    z-index: 1000;
}