.wrapper {
    margin: 0 auto;
    max-width: calc(1600px + 10%);
    padding: 0 2%;
    background-color: #e8bcef;
    &-row{
        display: flex;
        &-contact{
            padding: 10px 0;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            &-title{
                font-size: 1.3rem;
                font-weight: 500;
            }
            &-list{
                display: flex;
                align-items: center;
                padding-left: 10px;
                & a{
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                }
                &__IconGit,
                &__IconFace,
                &__IconTwitter{
                    font-size: 1.8rem !important;
                    margin: 0 5px;
                }
                &__IconFace,
                &__IconTwitter{
                    color: #0866ff;
                }
            }
        }
    }
    &-group{
        min-height: 1px;
        padding: 0 12px;
        width: 16.6666666667%;
        zoom: 1;
        & ul{
            list-style: none;
        }
        & li{
            color: #616161;
            font-size: 11px;
            padding: 7px 0;
        }
        & h4 {
            padding-top: 30px;
            color: #616161;
        }
    }
}