.wrapper {
    margin: 0 auto;
    max-width: calc(1600px + 10%);
    padding: 0 2%;
    background-color: #e8bcef;
    &-row{
        display: flex;
    }
    &-group{
        min-height: 1px;
        padding: 0 12px;
        width: 16.6666666667%;
        zoom: 1;
        & ul{
            list-style: none;
        }
        & li{
            color: #616161;
            font-size: 11px;
            padding: 7px 0;
        }
        & h4 {
            padding-top: 30px;
            color: #616161;
        }
    }
}