.forgot-password{
    padding-top: 20px;
    font-size: 13px;
    color: var(--background-color);
    font-weight: 600;
}
.forgot-password:hover{
    text-decoration: underline;
    cursor: pointer;
}
.wrapper-btn{
    text-align: end;
    margin-top : 20px;
    & button{
        padding: 9px 15px;
        background-color: var(--background-color);
        border-color: var(--background-color);
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
    }
    & button:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}